<!DOCTYPE html>
<html lang="zh-cn">
<meta charset="utf-8">

<head>
    <title>Hello</title>
    <script src="https://unpkg.com/vue@next"></script>
    <!-- <script src="./vue.js"></script> -->
    <link rel="stylesheet" type="text/css" href="global.css">
</head>

<body id="app">
    <div class="header"><span
            :class="['indicator',{red:client_status.game.nextMove!=client_status.isFirstMove}, {green:client_status.game.nextMove==client_status.isFirstMove}]">GO</span><span
            :class="['indicator',{black_moku:client_status.isFirstMove==1}, {white_moku:client_status.isFirstMove==0}]">MOKU</span>
    </div>
    <div class="valign-center">
        <div class="halign-center">
            <div class="chessboard-locator">
                <chessboard ref="chessboard" :class="[{display: ready}]"
                    :chessboard_status="client_status.game.chessboard" :onclick="click">
                </chessboard>
            </div>
            <!-- <button @click="revert">REVERT</button> -->
            <div class="login-form-locator">
                <login>
                    <input v-model="username" placeholder="USERNAME"></input><br />
                    <input type="password" v-model="token" placeholder="PASSWORD"></input><br />
                    <button @click="register">Login</button>
                </login>
            </div>

        </div>
    </div>
</body>
<script>
    var app = Vue.createApp({
        data() {
            return {
                socket: null,
                server: "gomoku-server.merlyn.cc:8443",
                connection_state: false,
                timeout_handler: null,
                heartbeat_handler: null,
                username: "",
                token: "",
                // SMAPLE CLIENT_STATUS
                // client_status: {
                //     "user": {
                //         "id": 123,
                //         "name": "John Smith",
                //         "token":"123456",
                //         "score": 123,
                //     }
                //     "game": {
                //         "chessboard": [],
                //     },
                //     "peerId": "",
                //     "status": "offline",
                //     "sessionId": "",
                //     "sessionToken": "",
                //     "connectionId": "",
                //     "timeToLive": 45000,
                // },
                client_status: {
                    "user": {
                        "name": "",
                        "token": "",
                    },
                    "game": {
                        "chessboard": [],
                    }
                },
                flag_need_register: true,
                history: [],
                ready: false,
            };
        },
        methods: {
            timeout() {
                this.socket.close();
                console.log("time out!");
                alert("No response from server! Please refresh the page!");
                location.reload();
            },
            send() {
                console.log(JSON.stringify(this.client_status));
                this.socket.send(JSON.stringify(this.client_status));
            },
            sync() {
                this.client_status.status = "sync";
                this.send();
            },
            register() {
                this.client_status.user = {
                    "name": this.username,
                    "token": this.token,
                };
                this.send();
            },
            click(index) {
                console.log(this.client_status);
                if (this.client_status.game.chessboard[index] != -1 && (this.client_status.isFirstMove == this.client_status.game.nextMove)) {
                    this.client_status.game.chessboard[index] = this.client_status.game.nextMove;
                    this.client_status.game.nextMove = 1 - this.client_status.game.nextMove;
                    this.client_status.chakuIndex = index; // checked by server
                    this.sync();
                    this.client_status.chaku = -1;
                }

            },
            terminate(win) {
                console.log("You " + (win ? "win" : "lose") + "!");
                alert("You " + (win ? "lose" : "win") + "!");
                location.reload();
            },

        },
        mounted() {
            // set basic info
            var username = localStorage.getItem('username');
            var password = localStorage.getItem('password');
            var id = localStorage.getItem('id');
            if (username && password && id) {
                this.client_status.user = {
                    "name": username,
                    "token": password,
                    "id": id,
                };
            }
            this.flag_need_register = false;
            // TODO register

            // connect to server
            this.socket = new WebSocket('wss://' + this.server + '/gomoku');
            // this.socket.send();
            this.socket.onopen = () => {
                console.log("connected");
            };
            this.socket.onmessage = (event) => {
                console.log(event.data);
                var new_status = JSON.parse(event.data);
                var pull = () => {
                    this.client_status = Object.assign({}, this.client_status, new_status);
                };
                var push = () => {
                    this.socket.send(JSON.stringify(this.client_status));
                };
                if (new_status.status == "online") { // server online
                    this.client_status = Object.assign({}, this.client_status, new_status);
                    // try login
                    if (this.flag_need_register) {
                        this.client_status.status = "login";
                    } else {
                        this.client_status.status = "register";
                    }
                    push();
                } else if (new_status.status == "registered") {
                    this.client_status = Object.assign({}, this.client_status, new_status);
                    this.flag_need_register = false;
                    localStorage.setItem('username', this.client_status.user.name);
                    localStorage.setItem('password', this.client_status.user.token);
                    localStorage.setItem('id', this.client_status.user.id);
                    this.flag_need_register = false;
                    this.client_status.status = "login";
                    push();
                } else if (new_status.status == "loggedIn") {
                    this.client_status = Object.assign({}, this.client_status, new_status);
                    // start game
                    this.client_status.game.chessboard = [];
                    for (var i = 0; i < 225; ++i) {
                        this.client_status.game.chessboard.push(-1);
                    }
                    this.client_status.status = "sync";
                    push();
                    // trigger keepalive
                    this.heartbeat_handler = setInterval(() => {
                        this.client_status.status = "sync";
                        push();
                    }, 30000);
                    // trigger timeout
                    this.timeout_handler = setTimeout(() => {
                        this.timeout();
                    }, this.client_status.timeToLive);
                } else if (new_status.status == "sync") {
                    this.client_status = Object.assign({}, this.client_status, new_status);
                    // update 
                    pull();
                    clearTimeout(this.timeout_handler);
                    this.timeout_handler = setTimeout(() => {
                        this.timeout();
                    }, this.client_status.timeToLive);


                } else if (new_status.status == "terminated") {
                    this.client_status = Object.assign({}, this.client_status, new_status);

                    // terminate
                } else if (new_status.status == "win") {
                    this.terminate(this.client_status.status == "win");
                } else if (new_status.status == "lose") {
                    this.terminate(!(this.client_status.status == "lose"));
                }
            };
        }
    });
    app.component(
        'chessboard',
        {
            data() {
                return {
                }
            },
            mounted() {
            },
            props: ['chessboard_status', 'onclick'],
            methods: {

                revert() {
                    // this.chessboard_status = this.history.pop();
                },
            },
            template: '<div id="chessboard" class="grid"><moku v-for="(moku, n) in chessboard_status" :moku_status="moku" :index="n" :onclick="onclick"></moku></div>',
        }
    );
    // app.component(
    //     'indicator',
    //     {
    //         data() {
    //             return {
    //             }
    //         },mounted() {

    //         },props:[],
    //         methods: {},
    //         template: ``````,
    //     }
    // );
    app.component(
        'moku',
        {
            data() {
                // console.log(this.index);
                // return {
                //     moku_status: 0,
                // }
                return {}
            },
            props: ['moku_status', 'index', 'onclick'],
            methods: {
                click() {
                    this.onclick(this.index);
                },
            },

            template: `<div :class="['moku', {white: moku_status==0}, {black: moku_status==1}]" @click="click"></div>`
        }
    );
    app.mount('#app');
</script>

</html>